<div class="container mx-auto w-full
  {{!-- Featured Articles Carousel --}}
  {{!-- Render 6 large articles here --}}
  <div class="flex flex-col">
    <h1 class="text-3xl font-bold space-y-10">Latest Articles</h1>
    <div class="w-full h-[1px] bg-black mb-7"></div>

    <div class="space-y-8">
      {{#each articles}} {{#if (between @index 0 5)}}
      <div class="w-full">{{> article/large-2-article article=this}}</div>
      {{/if}} {{/each}}
    </div>
  </div>
</div>
