<html data-theme="wireframe">
  <head>
    <meta charset="utf-8" />
    <title>Example App</title>
    <link rel="stylesheet" href="/output.css" />
  </head>
  <body>
    {{> home/header}}

    <div class="py-28 min-h-screen">
    {{{body}}}
    </div>

    {{> home/footer}}

  </body>
  <script src="/script.js"></script>
</html>