<html data-theme="light">
    <head>
        <meta charset="utf-8" />
        <title>Example App</title>
        <link rel="stylesheet" href="/output.css" />

    </head>
    <body>

        {{{body}}}

        <script src="https://unpkg.com/lucide@latest"></script>
        <script>
            lucide.createIcons();
        </script>
    </body>
</html>