{{!-- views/layouts/main.hbs --}}
<html data-theme="light">
  <head>
    <meta charset="utf-8" />
    <title>Example App</title>
    <link rel="stylesheet" href="/output.css" />
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet" />
  </head>
  <body>
    <div>{{> header}}</div>
    <div class="py-28 min-h-screen">{{{body}}}</div>
    <div>{{> footer}}</div>

    <script src="/script.js"></script>
  </body>
</html>
