{{!-- views/articles/search.hbs --}}
<div class="container mx-auto px-4 md:px-8 lg:px-16 py-8">
  <h1 class="text-3xl md:text-4xl font-bold mb-6">Search Results for "{{query}}"</h1>

  {{#if articles.length}}
    {{!-- Articles List --}}
    <div class="space-y-6">
      {{#each articles}}
        {{> article-item this}}
      {{/each}}
    </div>

    {{!-- Pagination --}}
    {{> pagination currentPage=currentPage totalPages=totalPages query=query}}
  {{else}}
    <p class="text-center text-gray-500">No articles found matching your search criteria.</p>
  {{/if}}
</div>

