{{!-- views/home/index.hbs --}}
<div class="space-y-28 px-24">
  {{!-- Featured Articles Carousel --}}
  <section>
    <h1 class="header">Featured Articles</h1>
    {{> article/layout/carousel articles=featuredArticles}}
  </section>

  {{!-- Most Viewed Articles --}}
  <section class="space-y-10">
    <h1 class="header">Most Viewed Articles</h1>
    {{> article/layout/basic articles=mostViewedArticles}}
  </section>

  {{!-- Top Categories --}}
  <section class="space-y-10">
    <h1 class="header">Top Categories</h1>
    {{> article/layout/tab articles=topCategoryArticles}}
  </section>

  {{!-- Latest Articles --}}
  <section class="space-y-10">{{> article/layout/latest articles=newestArticles}}</section>
</div>
