{{!-- views/home/index.hbs --}}
<div class="space-y-28 px-24">
  {{!-- Featured Articles Carousel --}}
  <section class="space-y-5">
    <div>
      <h1 class="text-3xl font-bold text-orange-600">Những bài viết nổi bật</h1>
    </div>
    {{> article/layout/carousel articles=featuredArticles}}
  </section>

  {{!-- Most Viewed Articles --}}
  <section class="space-y-7">
    <div>
      <h1 class="text-3xl font-bold text-orange-600">Những bài viết có lượt xem cao nhất</h1>
    </div>
    {{> article/layout/basic articles=mostViewedArticles}}
  </section>

  {{!-- Top Categories --}}
  <section class="space-y-5">
    <div>
      <h1 class="text-3xl font-bold text-orange-600">Top 10 các chuyên mục</h1>
    </div>
    {{> article/layout/tab articles=topCategoryArticles}}
  </section>

  {{!-- Latest Articles --}}
  <section class="space-y-5">{{> article/layout/latest articles=newestArticles}}</section>
</div>